$background-color-white: white;
$background-color-grey: #f6f0ed;
$background-color-pink: #e4067d;
$background-color-light-pink: #f6c0bd;

$font-color-orange: #ec7c24;
$font-color-pink: #e4067d;
$font-color-grey: #cfcbc6;
$font-color-white: white;
$font-color-dark-grey: #aabbb5;

$hover-color-grey: #aabbb5;
$border-color-grey: #aabbb5;
$border-color-pink: #e4067d;
$border-color-orange: #ec7c24;
